button {
  position: relative;
  display: block;
  width: 250px;
  height: 52px;
  margin: 100px auto;
  font-family: "Times New Roman", Arial, serif;
  font-size: 20px;
  font-weight: bold;
  color: #525252;
  text-align: center;
  text-shadow: 0 1px 0 #e3e1e1;
  line-height: 50px;
  background: linear-gradient(to bottom, #e0e0e0 0%, #d4d4d4 50%, #c9c9c9 51%, #a8a7a7 100%);
  border-radius: 10px;
  box-shadow: 0 1px 3px 1px #8f8f8f;
}

button:before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 260px;
  height: 70px;
  top: -12px;
  left: -9px;
  background: #cbcbcb;
  border: #ffffff 2px solid;
  border-radius: 15px;
  box-shadow: 0 0 0 2px #636262;
}

.star {
  margin: 0px 5px 0px 5px;
}
