@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #0079BF;
  margin: 0px;
}

header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 55px;
  background: #0067a3;
}

.left-side-items, .right-side-items, .user-menu, .add-new-item-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-side-items, .right-side-items {
  margin: 0px 13px 0px 7px;
}

.right-side-items {
  width: 265px;
  height: 33px;
}

.name {
  position: fixed;
  width: 331px;
  height: 26px;
  left: 62px;
  top: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  color: #ffffff;
}

.newlist-create-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 181px;
  height: 33px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  border-radius: 5px;
}

.newlist-create-btn:hover {
  background-color: #d8d8d8;
}

.plus-icon, .newlist-create-btn-text, , .arrow-dropdown-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newlist-create-btn-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.user-menu {
  width: 55px;
  display: flex;
  align-items: center;
}

.user-icon {
  width: 38px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 100px;
  border: 1px solid #ffffff;
}

.user-icon:hover, .arrow-dropdown-btn:hover, .more-btn:hover,
.todoList-point:hover, .newlist-create-btn:hover, .todoList-footer div:hover {
  cursor: pointer;
}

main {
  margin: 55px 0px;
  height: calc(100vh - 110px);
}

.boardholder {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(100% - 40px);
  padding: 20px;
  background: #0079BF;
  overflow-y: hidden;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #CBCBCB;
  border-radius: 5px;
}

::-webkit-scrollbar-track-piece:horizontal {
  background: #ffffff;
}

.todoList {
  padding-right: 22px;
}

.todoList-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 282px;
  max-height: calc(100vh - 174px);
  padding: 12px;
  padding-right: 0px;
  color: #000;
  background-color: #EBECF0;
  border-radius: 10px;
}

.todoList-header {
  padding-bottom: 12px;
  justify-content: space-between;
}

.todoList-header, .todoList-footer {
  display: flex;
  align-items: center;
  width: 100%;
}

.more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  transition: 0.2s;
}

.more-btn:hover {
  margin-right: 5px;
}

.todoList-items-container {
  height: 100%;
  padding-right: 12px;
  overflow-y: auto;
}

.todoList-item {
  background-color: white;
  margin-bottom: 13px;
}

.todoList-point {
  padding: 7px 8px;
  transition: 0.2s;
}

.todoList-point:hover {
  background: #d8d8d8;
}

.todoList-footer {
  justify-content: flex-start;
  color: #5E6C84;
  width: 100%;
  margin-top: 8px;
}

.add-btn {
  padding-right: 5px;
}

.add-new-item-btn {
  transition: 0.2s;
}

.add-new-item-btn:hover {
  padding-left: 10px;
}

footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 55px;
  background: #0067a3;
  color: #ffffff
}

.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px 30px 0px 40px;
}

.active-task {
  padding-right: 36px;
}

.copyright {
  padding: 0px 25px 0px 20px;
}
